    <div class="jumbotron jumbotron-fluid about-jumbo-one">
      <div class="container">
        <h1 class="display-4" style="font-family: 'Acme', sans-serif">
          Contact Us
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div
          class="col-lg-12"
          style="text-align: center; font-family: 'Montserrat', sans-serif"
        >
          <h1>We Want To Hear From You!</h1>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <ul
            class="list-group list-group-flush"
            style="font-family: 'Montserrat', sans-serif"
          >
            <li class="list-group-item">
              <a href="tel:7046807206">704-680-7206</a>
            </li>
            <li class="list-group-item">
              <a href="mailto:scoopydoocrewllc@gmail.com"
                >scoopydoocrewllc@gmail.com</a
              >
            </li>
            <li class="list-group-item"><a href="https://www.facebook.com/Scoopy-Doo-Crew-108234881330978">Facebook</a></li>
            <li class="list-group-item"><a href="https://www.instagram.com/scoopydoocrew/">Instagram</a></li>
            <li class="list-group-item">
              <a 
                ><p>PO Box</p>14311 Reese Blvd, Suite A2 #321
                <p>Huntersville, NC 28078</p></a
              >
          </ul>
        </div>
        <div class="col-lg-6 colum-contact-photo">
          <div class="contact-photo-background">
            <img
              src="/img/amora-lil-pup.jpeg"
              width="400px"
              height="245px"
              class="contact-photo"
            />
          </div>
        </div>
      </div>
    </div>