<div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 style="font-family: 'Acme', sans-serif">Residential Services</h1>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
            <div class="service-card-bckg">
               <div class="card" style="text-align:center;  margin-top: 10px; font-family: 'Acme', sans-serif; ">
                <div class="card-header">
                  Weekly
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">1 Dog - $15</li>
                  <li class="list-group-item">2 Dog - $17</li>
                  <li class="list-group-item">3 Dog - $18</li>
                  <li class="list-group-item">4 Dog - $20</li>
                </ul>
              </div>  
            </div>
        </div>
        <div class="col-lg-4">
            <div class="service-card-bckg">
               <div class="card" style="text-align:center;  margin-top: 10px; font-family: 'Acme', sans-serif;">
                <div class="card-header">
                  Bi-Monthly
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">1 Dog - $15</li>
                  <li class="list-group-item">2 Dog - $18</li>
                  <li class="list-group-item">3 Dog - $20</li>
                  <li class="list-group-item">4 Dog - $23</li>
                </ul>
              </div> 
            </div>
            
        </div>
        <div class="col-lg-4">
            <div class="service-card-bckg">
                <div class="card" style="text-align:center;  margin-top: 10px; font-family: 'Acme', sans-serif;">
                    <div class="card-header">
                      Monthly
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">1 Dog - $20</li>
                      <li class="list-group-item">2 Dog - $23</li>
                      <li class="list-group-item">3 Dog - $25</li>
                      <li class="list-group-item">4 Dog - $28</li>
                    </ul>
                  </div>
            </div>
        </div>
      </div>
     <br/>
      <div class="row">
          <div class="col-lg-12">
              <p style="font-weight: 800; font-family: 'Montserrat', sans-serif; font-size:20px;">**One Time Only Clean-Up Service $45.00</p>
              <p style="font-weight: 800; font-family: 'Montserrat', sans-serif; font-size:20px;">**Initial First Time Clean Up Service $35.00</p>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6">
              <a href="/scheduler">
                <button class="btn" style="background-color: #01b0f0; color:white; font-family: 'Acme', sans-serif">New Schedule Here</button>  
              </a>
          </div>
          <div class="col-lg-6">
              <a href="/rescheduler">
                <button class="btn" style="background-color: #01b0f0; color:white; font-family: 'Acme', sans-serif">Re-Schedule Here</button>  
              </a>
          </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-12">
          <h1 style="font-family: 'Acme', sans-serif">Commercial Services</h1>
          <hr />
        </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <p style="font-family: 'Montserrat', sans-serif; font-size:20px;">We offer pet waste services to commercial properties including pet waste stations as part of a complete commercial waste management program for poop free grounds.</p>
              <br/>
              <p style="font-style: italic; font-family: 'Montserrat', sans-serif; font-weight: 800; font-size:20px;">Call For Inquiries</p>
          </div>
      </div>
    </div>