<section class="py-5">
  <div class="container">
     <h1 class="display-3">
    Thank You
  </h1>
  <p class="lead">You will recieve a confirmation email along with a phone call</p>
  <p>{{msg}}</p>
  <a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
  </div>
</section>